.container
  .row
    .col-sm-12.event-index-news
      .alert.alert-info
        %h4 Add your event to the list.
        %p
          We'd love you list your event on this site, for free.
          Drop an email to mark@m12n.co.uk with the details.

  .row
    .col-sm-12
      %h2 Upcoming Events

  .row
  - @events.each do |event|
    .col-xs-12.col-sm-6.col-md-6.col-lg-4
      .listing{style:"background: #fff url(#{event.cover_img}) no-repeat center top;background-size: cover;"}
        .info-block
          .headerblock
            =link_to(event.title, event)
            %span.listing-title-location
              -if (event.region.length > 1)
                %span
                  %i.fa.fa-map-marker
                  =event.region
          .footerblock
            .listing-date
              %i.fa.fa-calendar
              =event.start_date.strftime("%d/%m/%Y")
            -#.listing-icons
              %i.fa.fa-eye
              100
