/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require events.scss
 */


@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$darkpurple: #452175;
$lightpurple: #bc73c5;
$linkpurple: #8248a2;

body{
  background: #F5F5F5;
  margin-top: 110px;
}

.navbar{
background-color: $darkpurple;
border-radius: 0px;
height: 104px;
}

.navbar-items{
  padding-top: 1.5rem! important;
}

.nav-link {
    color: $lightpurple !important;
    padding: 5px;
  }
.nav-link:hover{
    color: #fff !important;
}

.navbar-brand{
  padding-top: 1rem !important;
  h1{
    color: #fff;
    font-size: 20px;
  }
  .logo{
    padding:15px 20px;
  }
}
