// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkpurple: #452175;
$lightpurple: #bc73c5;
$linkpurple: #8248a2;
$detailtext: #999999;

.event-index-news{
    margin-top: 20px;
    margin-bottom: 20px;
}

.listing {
    height: 380px;
    margin-bottom: 50px;
    position: relative;
}
.info-block {
    height: 170px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    .headerblock {
        padding: 15px;
        height: 200px;
        a {
            font-size: 20px;
            color: $linkpurple;
        }
    }
    .footerblock {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #efefef;
        height: 60px;
        padding: 15px 20px;
    }
    .listing-title-location {
        width: 100%;
        display: block;
    }
    .listing-date {
        float: left;
    }
    .listing-icons {
        float: right;
    }
}
.event-show-container {
    margin-top: -6px;
}
.event-show-header {
    background-position: center top !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.event-show-meta {
    padding: 30px;
    margin-top: 80px;
    background: $linkpurple;
    color: #fff;
    text-align: center;
    .meta-icon {
        width: 100%;
        display: block;
    }
    .meta-text {
        padding-bottom: 10px;
        display: block;
    }
    .show-location {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}
.event-show-details {
  background-color: #fff;
  margin-top: 30px;
  .section-header {
      border-bottom: 1px solid $lightpurple;
      padding: 20px 30px;
      i {
          color: $darkpurple;
      }
      h3 {
          font-size: 32px;
          line-height: 48px;
      }
      .fa{
        margin-right: 20px;
      }
  }
  .section-detail {
      padding: 30px;
      margin-bottom: 30px;
      color: $detailtext;
  }
  .address-block {
      float: left;
      width: 100%;
      .fa {
          width: 40px;
          height: 30px;
          float: left;
      }
      .address-text {
          width: calc(100% - 40px);
          float: left;
      }
  }
}
.event-show-btm-nav{
  padding: 15px;
  .btn{
    background: $darkpurple;
    border-color: $darkpurple;
  }
  .btn:hover{
    background:$lightpurple;
    border-color: $lightpurple;
  }
}
